@import url('https://fonts.googleapis.com/css?family=Open+Sans|Kaushan+Script|Roboto&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  border: none;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  transition: all 250ms;
}
body {
  color: #373737;
  font-family: "Segoe UI", Roboto, "Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.nav__overlay.nav__dark {
  background-color: #282828;
  background-image: none !important;
}
.brand_logo a {
  display: flex;
  align-items: center;
}
.brand_logo a img {
  margin-right: 10px;
}
.nav__overlay.nav__dark + .container .brand_logo a {
  color: #9fd8ff;
  line-height: 70px;
  text-shadow: 2px 2px 3px rgba(210, 237, 255, 0.32);
}
.overlay_modal {
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  height: 100vh !important;
  width: 100vw;
  padding: 20px;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
}
.modal {
  opacity: 0;
  visibility: hidden;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #b0b0b0;
  width: calc(100% - 40px);
  z-index: 4;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: 600;
  color: #494949;
  padding: 40px 10px;
}
.show {
  opacity: 1;
  visibility: visible;
  height: auto;
  overflow: hidden;
}
.hide {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}
a {
  color: inherit;
}
.radio_custom {
  display: inline-flex;
  align-items: center;
}
.radio_custom span {
  margin-left: 10px;
  color: #f1f1f1;
}
.radio_custom:not(:last-child) {
  margin-right: 10px;
}
.radio_custom input[type='radio'] {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  position: absolute;
  height: 0.1px;
  width: 0.1px;
}
.radio_custom input[type='radio']:checked + label::before {
  background-color: #387fc1;
  border: 1px solid #fff;
}
.radio_custom label {
  color: #fff;
  position: relative;
  display: block;
  padding-left: 20px;
}
.radio_custom label::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

nav.show_nav {
  background-color: #282828;
  box-shadow: 0 3px 10px 5px rgba(68,68,68,.25);
}
nav.scrolled {
  box-shadow: 0 3px 3px rgba(37,37,37,.39);
}
nav.scrolled .nav__overlay {
  opacity: 1;
}
nav .nav__overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(65,149,185, 1), rgba(74,190,168, 1));
}
nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}
nav > ul {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}
nav > ul li {
  color: #fff;
  overflow: hidden;
  height: 50px;
  display: flex;
  align-items: center;
  line-height: 50px;
}
nav ul .brand_logo {
  height: 70px;
  font-size: 18px;
  font-family: "Segoe UI", Roboto, "Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 70px;
}
nav > ul > li:not(.brand_logo) {
  letter-spacing: 1px;
  max-height: 0;
  font-weight: 500;
  position: relative;
}
nav > ul > li:not(.brand_logo):hover::after {
  width: 100%;
}
nav > ul > li:not(.brand_logo)::after {
  content: '';
  position: absolute;
  bottom: 12px;
  height: 3px;
  background-color: #fff;
  width: 0;
}
nav > ul > li:not(.brand_logo)::after {
  right: 50%;
  transform: translateX(50%);
}
nav.show_nav > ul > li:not(.brand_logo) {
  max-height: none;
}
nav.show_nav .brand_logo {
  opacity: 0;
  visibility: hidden;
}
nav.show_nav ul .brand_logo {
  height: 0;
}
nav > ul li a {
  width: 100%;
  height: 100%;
}
nav > ul > .brand_logo, nav > ul > li:nth-child(2) {
  justify-content: space-between;
}
nav > ul > li:nth-child(2) .bx {
  display: none;
}
nav.show_nav > ul > li:nth-child(2) .bx {
  display: inline-block;
}
nav ul li .bx {
  font-size: 28px;
  cursor: pointer;
}
header {
  background-image: url('../img/ProjectEvent/LintasSolutionDay/3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  position: relative;
}
header .header__overlay {
  /* background-image: linear-gradient(to right, rgba(74,190,168, 0.3), rgba(65,149,185, 0.3)); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
header > .container {
  height: 100%;
  position: relative;
}
header .header__caption {
  color: #fff;
  position: absolute;
  left: 50%;
  z-index: 1;
  text-align: center;
  width: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}
header .header__caption h1 {
  font-size: 25px;
}
header .header__caption h3 {
  display: none;
}
main > section {
  padding: 80px 0;
}
main > section .container .heading_text {
  color: #545454;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.18);
  margin-bottom: 70px;
  width: 100%;
  font-size: 1.8em;
  text-align: center;
  position: relative;
}
main > section .container .heading_text::after {
  position: absolute;
  content: '';
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 25%;
  max-width: 120px;
  height: 4px;
  background-image: linear-gradient(to right, rgba(74,190,168, 1), rgba(65,149,185, 1));
}
main > #about_us p {
  text-align: center;
}
main #what_we_do {
  background-color: #fafafa;
}
main #what_we_do .col-12 {
  margin-bottom: 35px;
}
main #visi_misi .col-12:first-child {
  margin-bottom: 60px;
}
main #visi_misi .col-12:first-child p {
  text-align: center;
}
main #what_we_do .col-12 > figure img {
  display: block;
  margin: 0 auto 15px;
}
main #what_we_do .col-12 > figure figcaption p:first-child {
  text-align: center;
  font-size: 18px;
  color: #696969;
  font-weight: bold;
  margin-bottom: 15px;
}
main #what_we_do .col-12 > figure figcaption p:last-child {
  text-align: justify;
}
main #visi_misi .col-12 > figure {
  text-align: center;
}
main #visi_misi .col-12 > figure > .bx {
  background-image: linear-gradient(to right, rgba(74,190,168, 1), rgba(65,149,185, 1));
  -webkit-background-clip: text;
  font-size: 40px;
  -webkit-text-fill-color: transparent;
}
main #visi_misi .col-12 > figure figcaption {
  padding: 10px 0;
}
main #visi_misi .col-12 > figure figcaption p:first-child {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 10px;
}
main #project {
  /* background-color: rgba(65,149,185, 1); */
  background-image: linear-gradient(to bottom right, rgba(65,149,185, 1), rgba(74,190,168, 1) 90%);
}
main #project .container > .heading_text {
  color: #fff;
}
main #project .container > .heading_text::after {
  background-image: none;
  background-color: #fff;
}
main #project .container .row:first-of-type .col-12 {
  text-align: center;
}
main #project .slick-prev {
  left: 15px;
  z-index: 1;
}
main #project .slick-next {
  right: 15px;
}
main #project .slick-arrow {
  top: auto;
  bottom: -9px;
  transform: translate(0, -100%);
}
main #project .row figure img {
  width: 100%;
}
main #project .row ~ .row figure .col-6 > img {
  border-radius: 5px;
  height: 100px;
  object-fit: cover;
  box-shadow: 1px 2px 4px 1px rgba(42, 42, 42, 0.45);
}
main #project .row ~ .row figure .col-6:nth-child(odd) {
  padding-left: 0;
}
main #project .row ~ .row figure .col-6:nth-child(even) {
  padding-right: 0;
}
main #project .row ~ .row figure .col-6:first-child, main #project .row ~ .row figure .col-6:nth-child(2) {
  margin-bottom: 40px;
}
main #project .row ~ .row figcaption {
  padding: 40px 0 20px;
  position: relative;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
main #project .row ~ .row figcaption p {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  cursor: pointer;
}
main #project .row ~ .row figcaption p:hover {
  color: #e6e6e6;
}
main #project .row ~ .row figcaption p:hover::after {
  width: 100%;
}
main #project .row ~ .row figcaption a {
  padding: 5px 1rem;
  display: inline-flex;
  font-size: 12px;
  box-shadow: 0 3px 3px rgba(43,43,43,.28);
  align-items: center;
  justify-content: center;
  border: 1px solid #c3c3c3;
  background-color: #fff;
  border-radius: 5px;
  color: rgb(65, 149, 185);
}
main #project .row ~ .row figcaption a:hover {
  background-color: #dadada;
}
main #project .row ~ .row figcaption a:active {
  box-shadow: 0 1px 3px rgba(43,43,43,.68);
  transform: translateY(2px);
}
main #timeline_event {
  height: auto;
  background-color: #f7f7f7;
}
main #timeline_event #timeline_desktop {
  display: none;
}
main #timeline_event #timeline_mobile {
  display: block;
  overflow: hidden;
  position: relative;
}
main #timeline_event .timeline {
  overflow: visible;
  position: relative;
  display: flex;
}
main #timeline_event #timeline_mobile::before {
  content: '';
  position: absolute;
  top: 50px;
  left: 25px;
  height: calc(100% - 70px);
  width: 2px;
  background-color: #dddddd;
}
main #timeline_event .timeline:not(:last-child) {
  margin-bottom: 30px;
}
main #timeline_event .timeline__step {
  display: flex;
  float: left;
  color: #fff;
  background-image: linear-gradient(45deg, rgba(74,190,168, 1), #4195b9);
  border: 1px solid #4195b9;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  z-index: 1;
  border-radius: 50%;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
main #timeline_event #timeline_mobile .timeline__step .bx {
  position: absolute;
  color: #dddddd;
  bottom: -32px;
  left: 26px;
  transform: translateX(-50%);
  margin-left: 0 !important;
}
main #timeline_event .timeline__step .bx:first-child {
  margin-left: 10px;
}
main #timeline_event .timeline__caption {
  float: right;
  width: calc(100% - 70px);
}
footer {
  position: relative;
  padding-top: 30px;
  font-size: 14px;
  background-color: #ffffff;
  color: #2a6680;
  border-top: 1px solid #e6e6e6;
}
footer time {
  margin: 0 5px;
}
footer .footer__top {
  padding: 0 15px;
  margin-bottom: 20px;
}
footer .footer__top h3 {
  font-size: 1.5rem;
  color: #4195b9;
}
footer .footer__top h5 {
  font-size: 1rem;
  font-weight: 500;
  color: #4185a2;
}
footer .footer__bottom ul {
  padding: 0 15px;
  margin-bottom: 30px;
}
footer .footer__bottom li:nth-child(n+3) a {
  color: #699cd0;
  font-weight: bold;
}
footer .footer__bottom li:not(:last-child) {
  margin-bottom: 25px;
}
footer .footer__bottom img {
  position: absolute;
  right: 60px;
  top: 64px;
}
footer .footer__legal {
  text-align: center;
  padding: 30px 15px;
  background-color: #282727;
  color: #fff;
}
footer .footer__legal span small {
  font-size: inherit;
  display: none;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 80%;
  }

  nav.show_nav .brand_logo {
    opacity: 1;
    visibility: visible;
  }
  nav {
    height: 80px;
    font-size: 18px;
  }
  nav > ul {
    max-width: none !important;
    height: 100%;
    padding: 0 35px;
    flex-direction: row;
  }
  nav ul li {
    height: auto !important;
  }
  nav ul li a {
    line-height: 80px;
  }
  nav ul .brand_logo {
    font-size: 20px;
    margin-right: auto;
  }
  nav ul .brand_logo .bx {
    display: none;
  }
  nav > ul > li:not(.brand_logo) {
    max-height: none;
    font-size: 12px;
    margin-left: 20px;
  }
  nav > ul > li:nth-child(2) {
    display: none;
  }
  header > .container {
    max-width: none !important;
  }
  header .header__caption {
    left: 60px;
    width: auto;
    text-align: left;
    transform: translateY(-50%);
  }
  header .header__caption h1 {
    font-size: 38px;
  }
  header .header__caption h3 {
    display: block;
    margin-top: 60px;
  }
  main > #about_us p {
    text-align: center;
  }
  main #visi_misi .col-12:first-child {
    margin-bottom: 100px;
  }
  main #project .row ~ .row figure .col-6 > img {
    height: auto;
  }
  main #project .slick-arrow::before {
    font-size: 30px;
  }
  main #what_we_do .col-12 > figure figcaption p:last-child {
    text-align: center;
  }
  main #timeline_event #timeline_desktop {
    display: flex;
  }
  main #timeline_event #timeline_desktop li:not(:last-child) div {
    padding-right: 10px;
  }
  main #timeline_event #timeline_desktop li div {
    height: 218px;
    color: #797979;
    position: relative;
    text-align: center;
    padding: 22px 0;
  }
  main #timeline_event #timeline_desktop li div .bx {
    display: block;
  }
  main #timeline_event #timeline_desktop li .bx {
    position: absolute;
    left: 50%;
    color: rgba(65,149,185, 1) !important;
    font-size: 18px;
    z-index: 1;
    color: inherit;
  }
  main #timeline_event #timeline_desktop li:not(:last-child) .bx {
    transform: translateX(calc(-50% - 15px));
  }
  main #timeline_event #timeline_desktop li:last-child .bx {
    transform: translateX(-50%);
  }
  main #timeline_event #timeline_desktop li .timeline__number {
    font-weight: bold;
  }
  main #timeline_event #timeline_desktop li:nth-child(odd) {
    padding-bottom: 16px;
  }
  main #timeline_event #timeline_desktop li:nth-child(even) .timeline__description .bx {
    top: -5px;
  }
  main #timeline_event #timeline_desktop li:nth-child(odd) .timeline__description .bx {
    bottom: -3px;
  }
  main #timeline_event #timeline_desktop li .timeline__description {
    /* font-size: 14px; */
  }
  main #timeline_event #timeline_desktop li:nth-child(odd) .timeline__description { /*li ganjil*/
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  main #timeline_event #timeline_desktop li:nth-child(odd) .timeline__description::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    left: 0;
    background-image: linear-gradient(to right, rgba(65,149,185, 1), rgba(74,190,168, 1));
  } /*li ganjil*/
  main #timeline_event #timeline_desktop li:nth-child(even) .timeline__number { /*li genap*/
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  main #timeline_event #timeline_desktop li:nth-child(even) .timeline__number::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    left: 0;
    background-image: linear-gradient(to left, rgba(65,149,185, 1), rgba(74,190,168, 1));
  }
  main #timeline_event #timeline_mobile {
    display: none;
  }
  footer .footer__top {
    margin-bottom: 40px;
  }
  footer .footer__top h3 {
    font-size: 2rem;
  }
  footer .footer__top, footer .footer__bottom ul {
    padding: 0 60px;
  }
  footer .footer__bottom {
    display: flex;
    padding-bottom: 30px;
    justify-content: space-between;
  }
  footer .footer__legal {
    padding: 0 60px;
    background-color: inherit;
    align-self: flex-end;
    color: inherit;
  }
  footer .footer__legal span small {
    display: inline;
  }
  footer .footer__bottom ul {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  body {
    font-size: 18px;
  }
  nav > ul {
    padding: 0 60px !important;
  }
  nav ul .brand_logo {
    font-size: 24px;
  }
  nav > ul > li:not(.brand_logo) {
    font-size: 16px;
  }
  main > section {
    padding: 120px 0;
  }
  main > section:not(#project) {
    height: 100vh;
  }
  main > section .container .heading_text {
    font-size: 2.2em;
    margin-bottom: 120px;
    margin-top: 20px;
  }
  main #project .row ~ .row figcaption a {
    font-size: 16px;
  }
  main #project .slick-arrow {
    height: 30px;
    width: 30px;
  }
  main #project .row ~ .row figure .col-6 > img {
    height: 350px;
    object-fit: cover;
  }
  footer .container {
    padding: 0 60px;
  }
}
